#b4g-message-banner {
    width: calc(100% + 2px);
    height: 48px;
    box-sizing: border-box;
    position: relative;
    left: -1px;
    right: -1px;
    top: 0px;
    bottom: 0px;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    background: rgba(0, 93, 160, 0.16);
    border: 1px solid #005DA0;
    font-family: 'Roboto';
    width: calc(100vw + 2px);
    display: flex;

}

#b4g-message-banner.b4g-high-priority {
    background: rgba(225, 86, 61, 0.16);
    border: 1px solid #E1563D;
}
#b4g-message-banner.b4g-med-priority {
    background: rgba(249, 191, 65, 0.16);
    border: 1px solid #F9BF41;
}
#b4g-message-banner.b4g-low-priority {
    background: rgba(65, 160, 87, 0.16);
    border: 1px solid #41A057;
}

#b4g-message-action-button {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), #055DA0;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    user-select: none!important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
#b4g-message-banner #b4g-message-action-button {
    height: 32px;
    left: 656px;
    top: 8px;
    margin: 3px 13px;
    padding: 4px 16px;
}
#b4g-message-action-button:hover {
    background: #055DA0;
}
.b4g-high-priority #b4g-message-action-button {
    background: #E1563D;
}
.b4g-high-priority #b4g-message-action-button:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), #E1563D;
}
.b4g-med-priority #b4g-message-action-button {
    background: #F9BF41;
    color: #020406;
}
.b4g-med-priority #b4g-message-action-button:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), #F9BF41;
}
.b4g-low-priority #b4g-message-action-button {
    background: #41A057;
}
.b4g-low-priority #b4g-message-action-button:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), #41A057;
}

#b4g-message-banner table {
    padding-left: 22px;
    padding-right: 16px;
    display: inline-flex;
    width: 100vw;
}

#b4g-message-banner .main-tr {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100vw;
    width: 100%;
}

#b4g-message-banner .icon-cell {
    margin-top: auto;
    margin-bottom: auto;
}

#b4g-message-banner .icon {
    width: 22px;
    padding-top: 6px;
    padding-right: 13px;
}

#b4g-message-banner .message-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}

#b4g-message-banner .message-wrapper-span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
}

#b4g-message-banner .message-title {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}

#b4g-message-banner .message-subtitle {
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}

#b4g-message-banner .message-subtitle .message-subtitle-tooltip {
    visibility: hidden;
    background: rgba(60,64,67,.90);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font: 500 12px "Roboto",arial,sans-serif;
    letter-spacing: .8px;
    line-height: 16px;
    margin-top: 4px;
    min-height: 14px;
    padding: 4px 8px;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 1000;
    -webkit-font-smoothing: antialiased;
}
  
#b4g-message-banner .message-subtitle:hover .message-subtitle-tooltip {
    visibility: visible;
}

#b4g-message-banner .button-cell {
    margin-right: 0px;
    margin-left: auto;
}

#b4g-message-banner .banner-close {
    position: relative;
    width: 32px;
    height: 32px;
    right: unset;
    border-radius: 4px;
    margin-top: 3px;
    margin-right: 0px;
}
#b4g-message-banner .banner-close.needs-left-margin {
    margin-left: auto;
}
#b4g-message-banner .banner-close:hover {
    background: rgba(0, 0, 0, 0.08);
}

#b4g-message-dialog {
    position: fixed; /* Stay in place */
    z-index: 10;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
  
/* Modal Content */
#b4g-message-dialog-content {
    background-color: #fefefe;
    margin: auto;
    width: 384px;
    padding: 32px;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

#b4g-message-dialog-content .icon {
    display: block;
    width: 52px;
    margin-top: -12px;
    margin-left: auto;
    margin-right: auto;
}

#b4g-message-dialog-content .message-title {
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
}

#b4g-message-dialog-content .message-subtitle {
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}

#b4g-message-dialog-content #b4g-message-action-button {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 32px;
    left: 656px;
    top: 8px;
    width: 100%;
    height: 48px;
    font-size: 16px;
}

#b4g-message-close-button {
    background: none;
    border: none;
    cursor: pointer;
    user-select: none!important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #666666;
    display: block;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    left: 656px;
    top: 8px;
}
